<?xml version="1.0" encoding="UTF-8"?>

<!-- The applicationContext.xml holds the configurations for how we register, create, and inject Spring Beans -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- We need the <beans> tag and its configurations in order for this xml to be used for Spring -->

    <!-- The name attribute can be whatever you want, it is used for reference in other bean declarations -->
    <!-- The class attribute is the path to the class we want to register as a Bean -->

    <!-- Owner Bean -->
    <bean name="owner" class="com.revature.models.Owner"></bean>

    <!-- Animal Bean -->
    <bean name="animal" class="com.revature.models.Animal">
        <!-- The Animal Class has an Owner as one of its fields. It's a dependency in this case. -->
        <!-- We need to WIRE the Owner Bean to the Animal Bean -->
        <property name="owner" ref="owner"></property>
        <!-- "name" is the name of the owner field in the Animal Class -->
        <!-- "ref" is the name of the Bean we want to inject -->
    </bean>

</beans>